.article-card {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 15px 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: #333333;
}

.article-card:hover {
  transform: scale(1.01);
  box-shadow: 7px 7px 7px rgb(57, 57, 57);
}

.article-topic {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  color: white;
  float: left;
  width: 150px;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  background-color: #666370;
  border-right: 1px solid rgb(171, 171, 171);
}

.article-details {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  width: 100%;
}

.article-details p {
  margin: 5px;
}

.article-title h4 {
  margin: 0;
  
}

.article-title {
  padding: 10px;
  border-top-right-radius: 9px;
  background-color: rgba(182, 182, 182, 0.317);

}

.article-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom-right-radius: 10px;
}

.article-stats p {
  margin: 0;
  padding: 3px;
}

@media only screen and (max-width: 600px) {
  .article-card {
    margin: 15px 2px;
  }
}