.article-card {
  color: black;
  display: flex;
  flex-direction: row;
  margin: 15px 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px black solid;
}

.article-card:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 15px rgb(57, 57, 57);
  background-image: linear-gradient(to right, rgb(216, 177, 206), rgb(164, 164, 164), rgb(216, 177, 206));

}

.article-topic {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  color: white;
  float: left;
  width: 150px;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  background-color: rgba(55, 55, 55, 0.639);
  border-right: 1px solid rgb(171, 171, 171);
}

.article-details {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  width: 100%;
}

.article-details p {
  margin: 5px;
}

.article-title h4 {
  margin: 0;
  
}

.article-title {
  padding: 10px;
  border-top-right-radius: 9px;
  background-color: rgba(182, 182, 182, 0.317);

}

.article-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom-right-radius: 10px;
}

.article-stats p {
  margin: 0;
  padding: 3px;
}

@media only screen and (max-width: 600px) {
  .article-card {
    margin: 15px 2px;
  }
}