.article-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(154, 182, 154);
  margin: 10px;

}

.article-card p {
  margin-right: 15px;
}