.header-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #202829
}

.home {
  float: left;
}

h1 {
  margin: 0;
}

.header-container img {
  height: 50px;
}

.fas {
  color: white;
  text-decoration: none;
  transition: all 0.3s
}

.fas:hover {
  transform: scale(1.12);
  color: rgb(213, 213, 198);
  cursor: pointer;
}

.logout {
  font-weight: bold;
  transition: all 0.3s;
}

.logout:hover {
  transform: scale(1.1);
  cursor: pointer;
}

