.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  
}

.votes-container {
  display: flex;
  flex-direction: row;
}

.add-comment-container {
  visibility: visible;
}

hr {
  width: 60%;
}