.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  background-color: grey;
  width: 100%;
}

.app-body {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar {
  width: 20%;
}

.app-main {
  width: 80%;
}